<h4>Galería de imágenes</h4>
<div class="form-group row">
  <div class="well col-sm-12 file_upload" align="center">
    <div class='well file_upload' id='f1'>
      <input name='file1' type='file' id='file_img1'/>
    </div>
    <div id='file_tools'>
      <img src='img/file_add.png' id='add_file' title='Add new input'/>
      <img src='img/file_del.png' id='del_file' title='Delete'/>
    </div>
  </div>
</div>