<div class="container" >
  <div class="container">
    <div class="row">
      <div class="footer" align="center">
        <p class="text-center text-muted">©Copyright 2016, Echo por <a href="http://rub21.com/" class="">Rub21</a></p>
      </div>
    </div>
  </div>
</div>