<div class="masthead">
    <a href="/"> <h3 class="muted">Registra Poducto Turístico</h3></a>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/admin">Inicio</a></li>
                    <li><a href="/recurso">Recurso turístico</a></li>
                    <li><a href="/hotel">Hotel</a></li>
                    <li><a href="/restaurant">Restaurante</a></li>
                    <li><a href="/transporte">M. de Transporte</a></li>
                    <li><a href="/complementario">Serv. Conplementarios</a></li>
                </ul>
            </div>
        </div>
        </div><!-- /.navbar -->
    </div>
    <div class="span2"></div>