  <div class="content_map">
    <div class="accordion" id="accordion_mapa">
      <div class="accordion-group">
        <div class="accordion-reeading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse" >
            Mostrar mapa
          </a>
        </div>
        <div id="collapse" class="accordion-body collapse">
          <div class="accordion-inner">
            <div id='map'></div>
            <div class='left'>
              <a id='geojsonLayer' href='#'></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>