<table id="toolbar">
</table>
<!-- <div id="ptoolbar" >
</div> -->
<input type="button" class="btn btn-primary" value="Actualizar" onclick="updateRow()" />
<input type="button" class="btn btn-danger" value="Eliminar" onclick="removeRow()" />
