<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="jumbotron">
      <h2>Ayacucho la mejor alternativa en Turismo!</h2>
      <p class="lead">Sitio para registrar  el producto  turístico de la Región de Ayacucho. </p>
      <a class="btn btn-large btn-success" href="../index.html">Visualizar Puntos Registrados</a>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
  <!--Scripts-->
  <% include ../partials/script %>
</html>