<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
        <div class="jumbotron">
      <h2>Ayacucho la mejor alternativa en Turismo!</h2>
      <p class="lead">Sitio para registrar  el producto  turístico de la Región de Ayacucho. </p>
      <a class="btn btn-large btn-success" href="../index.html">Visualizar Puntos Registrados</a>
    </div>
    <p>
      <strong>Usuario :</strong> <%= user.local.email %> <br>
      <a href="/logout" >Cerrar sesión</a>
    </p>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
<!--Scripts-->
<script src='js/mapbox0.6.js'></script>
<script src='js/jquery-1.8.2.js'></script>
<script src="js/jquery.validate.js"></script>
<script src="http://trirand.com/blog/jqgrid/js/jquery.jqGrid.min.js"></script>
<script src="http://trirand.com/blog/jqgrid/js/i18n/grid.locale-en.js"></script>

<script src='js/underscore.min.js'></script>
<script src='js/bootstrap.js'></script>
<script src='js/fun_map.js' ></script>
<script src='js/app.js' ></script>
<script src='js/form_recurso.js' ></script>
<script src='js/form_hotel.js' ></script>
<script src='js/form_restaurant.js' ></script>
<script src='js/form_transporte.js' ></script>
<script src='js/form_validate.js' ></script>
<script src='js/delete.js'></script>
<script src='js/tablas.js'></script>
</html>